<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cdkj.wechat.model.dao.SrvWechatFuncInfoMapper" >
  <resultMap id="BaseResultMap" type="com.cdkj.wechat.model.pojo.SrvWechatFuncInfo" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="SYS_ACCOUNT" property="sysAccount" jdbcType="VARCHAR" />
    <result column="MAIN_ID" property="mainId" jdbcType="VARCHAR" />
    <result column="FUNC_ID" property="funcId" jdbcType="INTEGER" />
    <result column="ENABLED" property="enabled" jdbcType="INTEGER" />
    <result column="VERSION" property="version" jdbcType="INTEGER" />
    <result column="STATUS" property="status" jdbcType="INTEGER" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
    <result column="MEMO" property="memo" jdbcType="VARCHAR" />
    <result column="CREATE_BY" property="createBy" jdbcType="VARCHAR" />
    <result column="CREATE_DT" property="createDt" jdbcType="VARCHAR" />
    <result column="UPDATE_DT" property="updateDt" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, SYS_ACCOUNT, MAIN_ID, FUNC_ID, ENABLED, VERSION, STATUS, REMARK, MEMO, CREATE_BY, 
    CREATE_DT, UPDATE_DT
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from srv_wechat_func_info
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from srv_wechat_func_info
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.cdkj.wechat.model.pojo.SrvWechatFuncInfo" >
    insert into srv_wechat_func_info (ID, SYS_ACCOUNT, MAIN_ID, 
      FUNC_ID, ENABLED, VERSION, 
      STATUS, REMARK, MEMO, 
      CREATE_BY, CREATE_DT, UPDATE_DT
      )
    values (#{id,jdbcType=VARCHAR}, #{sysAccount,jdbcType=VARCHAR}, #{mainId,jdbcType=VARCHAR}, 
      #{funcId,jdbcType=INTEGER}, #{enabled,jdbcType=INTEGER}, #{version,jdbcType=INTEGER}, 
      #{status,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR}, #{memo,jdbcType=VARCHAR}, 
      #{createBy,jdbcType=VARCHAR}, #{createDt,jdbcType=VARCHAR}, #{updateDt,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.cdkj.wechat.model.pojo.SrvWechatFuncInfo" >
    insert into srv_wechat_func_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="sysAccount != null" >
        SYS_ACCOUNT,
      </if>
      <if test="mainId != null" >
        MAIN_ID,
      </if>
      <if test="funcId != null" >
        FUNC_ID,
      </if>
      <if test="enabled != null" >
        ENABLED,
      </if>
      <if test="version != null" >
        VERSION,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="remark != null" >
        REMARK,
      </if>
      <if test="memo != null" >
        MEMO,
      </if>
      <if test="createBy != null" >
        CREATE_BY,
      </if>
      <if test="createDt != null" >
        CREATE_DT,
      </if>
      <if test="updateDt != null" >
        UPDATE_DT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="sysAccount != null" >
        #{sysAccount,jdbcType=VARCHAR},
      </if>
      <if test="mainId != null" >
        #{mainId,jdbcType=VARCHAR},
      </if>
      <if test="funcId != null" >
        #{funcId,jdbcType=INTEGER},
      </if>
      <if test="enabled != null" >
        #{enabled,jdbcType=INTEGER},
      </if>
      <if test="version != null" >
        #{version,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="memo != null" >
        #{memo,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDt != null" >
        #{createDt,jdbcType=VARCHAR},
      </if>
      <if test="updateDt != null" >
        #{updateDt,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cdkj.wechat.model.pojo.SrvWechatFuncInfo" >
    update srv_wechat_func_info
    <set >
      <if test="sysAccount != null" >
        SYS_ACCOUNT = #{sysAccount,jdbcType=VARCHAR},
      </if>
      <if test="mainId != null" >
        MAIN_ID = #{mainId,jdbcType=VARCHAR},
      </if>
      <if test="funcId != null" >
        FUNC_ID = #{funcId,jdbcType=INTEGER},
      </if>
      <if test="enabled != null" >
        ENABLED = #{enabled,jdbcType=INTEGER},
      </if>
      <if test="version != null" >
        VERSION = #{version,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="memo != null" >
        MEMO = #{memo,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null" >
        CREATE_BY = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDt != null" >
        CREATE_DT = #{createDt,jdbcType=VARCHAR},
      </if>
      <if test="updateDt != null" >
        UPDATE_DT = #{updateDt,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cdkj.wechat.model.pojo.SrvWechatFuncInfo" >
    update srv_wechat_func_info
    set SYS_ACCOUNT = #{sysAccount,jdbcType=VARCHAR},
      MAIN_ID = #{mainId,jdbcType=VARCHAR},
      FUNC_ID = #{funcId,jdbcType=INTEGER},
      ENABLED = #{enabled,jdbcType=INTEGER},
      VERSION = #{version,jdbcType=INTEGER},
      STATUS = #{status,jdbcType=INTEGER},
      REMARK = #{remark,jdbcType=VARCHAR},
      MEMO = #{memo,jdbcType=VARCHAR},
      CREATE_BY = #{createBy,jdbcType=VARCHAR},
      CREATE_DT = #{createDt,jdbcType=VARCHAR},
      UPDATE_DT = #{updateDt,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <select id="selectByMainId" parameterType="java.lang.String" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"/>
    from srv_wechat_func_info
    where MAIN_ID =#{0}
    and ENABLED =1
  </select>
  <delete id="deleteByMainId" parameterType="java.lang.String" >
    delete from srv_wechat_func_info
    where MAIN_ID=#{0}
  </delete>
</mapper>
